html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }

  .no-print {
    display: none !important;
  }

  html,
  body,
  #root,
  .app-shell-root,
  .app-shell-col,
  .app-shell-main {
    height: auto !important;
    overflow: visible !important;
  }

  body {
    margin: 0;
  }
}
